```{=html}
<div class="quarto-listing quarto-listing-container-default" id="listing-listing">
  <div class="list quarto-listing-default">
    <% for (const item of items) { %>
      <div class="quarto-post" <%= metadataAttrs(item) %>>
        <div class="body">
          <h3 class="no-anchor listing-title"><%= item.title %></h3>
          <div class="listing-description"><%= item.description %></div>
          <span class="listing-tecnica"><b>Técnica estadística:</b> <%= item['tecnica'] %><span><br/>
          <span class="listing-tema"><b>Temas:</b> <%= item['tema'] %><span><br/>
          <span class="listing-operation"><b>Operaciones:</b> <%= item['operation'] %><span><br/><br/>
          <div class="listing-categories">
            <div class="listing-category" >
              <a href="<%- item.href %>" >Fichero</a>
            </div>
            <div class="listing-category" >
              <a href="<%- item['notebook'] %>" >Notebook</a>
            </div>
            <% if(item['cleaning']) { %>
              <div class="listing-category" >
                <a href="<%- item['cleaning'] %>" >Limpieza de datos</a>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>
```